@import "src/App";

.promo {
  display: flex;
  justify-content: space-between;

  .final {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 40px 48px 150px 48px;
    width: 380px;
    height: 721px;
    background-color: $mainColor1;

    &__tel-number {
      margin-bottom: 15px;
      padding: 0 10px;
    }

    &__sub-text {
      p {
        margin: 0;
      }
    }
  }

  .right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    &__close-btn {
      margin: 20px;
      width: 88px;
      height: 52px;
      background-color: #ffffff;
      border: 2px solid $mainColor2;

      &:active,
      &:hover {
        background-color: $mainColor2;

        svg line {
          stroke: #ffffff;
        }
      }

    }

    &__qr-code {
      display: flex;
      padding: 40px;
    }

    &__text {
      padding: 5px 10px 0 0;
      text-align: end;
      width: 194px;
      height: 76px;
      color: #ffffff;
    }
  }
}